In [5]:
import numpy as np

In [ ]:
To output ones i range of 11 that is 1 to 10:

In [6]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
To output zeros in range of 11

In [7]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
Here is another hack, lets say you want to output fives. How would you go about it?
There are different ways to do it
1. using mutiplication
2. or using addtion

In [9]:
np.ones(10) * 5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
or

In [10]:
np.zeros(10) + 5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
Lets output even numbers between 100 to 200

In [11]:
np.arange(100,201,2)

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124,
       126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150,
       152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176,
       178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200])

In [ ]:
Lets output odd numbers between 100 to 200

In [12]:
np.arange(100,200,3)

array([100, 103, 106, 109, 112, 115, 118, 121, 124, 127, 130, 133, 136,
       139, 142, 145, 148, 151, 154, 157, 160, 163, 166, 169, 172, 175,
       178, 181, 184, 187, 190, 193, 196, 199])

In [25]:
np.random.randint(0,13,6) + 1

array([13,  7,  9,  5,  9,  2])

In [ ]:
Finding the maximum of the array

In [27]:
arr = np.arange(25)

In [28]:

arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [30]:
arr.max()

24

In [ ]:
Finding the minimum of the array

In [31]:
arr.min()

0

24

In [ ]:
Finding the index of lets the maximum number

In [35]:
arr.argmax()

24